@media screen and (max-width: 1399px) and (min-width: 1200px){
/*=================ГЛАВНАЯ СТРАНИЦА===============*/

.header_content_contacts {
  column-gap: 20px;
}

.header_content_navlist_list {
  column-gap: 40px;
}

.firstsec_mainpage_content {
  max-width: 1000px;
}

.stepssec_mainpage_content {
  max-width: 1000px;
}

.stepssec_mainpage_content_list_item p {
  font-size: 1.5rem;
}

.formsec_mainpage {
  max-width: unset;
  width: calc(100vw - 40px);
}

.trustsec_mainpage_content_slider_container {
  max-width: 1000px;
}

.trustsec_mainpage_content_slider_item img {
  width: 100%;
}

.footer_content {
  max-width: 1000px;
}

.footer_content_main_form {
  max-width: 570px;
}



/*=================СТРАНИЦА БЛОГ ИТЕМ===============*/

.breadcrumbs {
  max-width: 1000px;
}

.firstsec_blogitempage_content {
  max-width: 1000px;
}

.firstsec_blogitempage img {
  max-width: 45vw;
}

.mainsec_blogitempage {
  max-width: 1000px;
}

.othermaterialssec_blog_itempage {
  max-width: 1000px;
}

.othermaterialssec_blogitempage_list_item {
  max-width: 320px;
}


/*=================СТРАНИЦА БЛОГ===============*/

.mainarticle_blogpage_content {
  max-width: 1000px;
}

.othermaterialssec_blogpage_sec {
  max-width: 1000px;
}


/*=================СТРАНИЦА СТАНКИ===============*/

.processsec_machinetoolspage_content {
  max-width: 1000px;
}

.solutionssec_machinetoolspage_content {
  max-width: 1000px;
}

.solutionssec_machinetoolspage_content_list {
  column-gap: 10px;
}

.solutionssec_machinetoolspage_content_list_item {
  padding-left: 15px;
  padding-right: 15px;
}

.solutionssec_machinetoolspage_content_list_item h3 {
  font-size: 1rem;
}

.solutionssec_machinetoolspage_content_list_item p {
  font-size: 0.75rem;
}


/*----------------------СТРАНИЦА ПОЛИТИКА---------------------------*/

.policysec_policypage_content{
  max-width: 1000px;
}


/*----------------------СТРАНИЦА ПОДШИПНИКИ---------------------------*/


.processsec_machinetoolspage_content_list {
  column-gap: 20px;
  row-gap: 25px;
}

.processsec_machinetoolspage_content_list_item:nth-child(1) > img:nth-child(2) {
  width: 90%;
}


/*----------------------СТРАНИЦА ЗАПЧАСТИ---------------------------*/

.directionssec_sparepartspage_content {
  max-width: 1000px;
}

.whymksec_sparepartspage_content {
  max-width: 1000px;
}

/*----------------------СТРАНИЦА РЕМОНТ---------------------------*/

.stopsec_repairpage_content {
  max-width: 1000px;
}

.appealsec_repairpage_content {
  max-width: 1000px;
}

.importantsec_repairpage_content {
  max-width: 1000px;
}

.consistssec_repairpage_content {
  max-width: 1000px;
}

.nonepartsec_repairpage_content {
  max-width: 1000px;
}

.worksec_repairpage_content {
  max-width: 1000px;
}

.tasksec_machinetoolspage_content {
  max-width: 1000px;
}



/*----------------------СТРАНИЦА КОНТАКТЫ---------------------------*/

.firstsec_contactspage_content {
  max-width: 1000px;
}

.linksec_contactspage_content {
  max-width: 1000px;
}

.initialsec_contactspage_content {
  max-width: 1000px;
}



/*----------------------СТРАНИЦА О НАС---------------------------*/

.firstsec_aboutpage_content {
  max-width: 1000px;
}

.fastsec_aboutpage_content {
  max-width: 1000px;
}

.reliabilitysec_aboutpage_content {
  max-width: 1000px;
}



/*----------------------СТРАНИЦА О НАС---------------------------*/

.firstsec_suppliespage_content {
  max-width: 1000px;
}

.practicesec_suppliespage_content {
  max-width: 1000px;
}

.indicatorssec_suppliespage_content {
  max-width: 1000px;
}












}
