/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
    }

    html{
      scroll-behavior: smooth;
      font-size: 16px;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
      overflow-x: hidden !important;
    }

    ul,li {
      margin: 0px;
      padding: 0px;
      
    }

    h1,h2,h3,h4,p{
      margin: 0px;
      
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #FFFFFF;
      min-height: 100%;
      display: grid !important;
      grid-template-rows: auto 1fr auto;
      position: relative;
      width: 100%;
      overflow-x: hidden !important;
    }

    .upper{
      text-transform: uppercase;
    }


/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.full__container{
  max-width: 8000px;
  width: 100%;
  position: relative;
}


/*----------------------ШАПКА---------------------------*/

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.header_content_navlist_list{
  display: flex;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header_content_navlist_list > li > a{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  color: #0D0D0D;
  text-decoration: none;
}

.header_content_contacts{
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.header_content_contacts_tel{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  color: #0D0D0D;
  text-decoration: none;
}

.header_content_contacts_button{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  background: #0057D9;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  border: 0;
}




.firstsec_mainpage{
  background: url(../img/firstsec_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.firstsec_mainpage_content{
  padding-top: 130px;
  padding-bottom: 72px;
}

.firstsec_mainpage_content{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.firstsec_mainpage_content h1{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 110%;
  color: #FFFFFF;
}

.firstsec_mainpage_content b{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 490px;
  display: flex;
}

.firstsec_mainpage_content a{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  background: #0057D9;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 215px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.firstsec_mainpage_content_list{
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-top: 128px;
}

.firstsec_mainpage_content_list_item{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
  background: rgba(31, 41, 55, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.firstsec_mainpage_content_list_item p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #FFFFFF;
}



.catalogsec_mainpage{
  margin-top: 72px;
  padding-left: 67px;
  padding-right: 67px;
}

.catalogsec_mainpage_content h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #0D0D0D;
}

.catalogsec_mainpage_content b{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #0D0D0D;
  line-height: 145%;
  margin-top: 10px;
  display: flex;
}

.catalogsec_mainpage_content_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  max-width: 1400px;
  width: 100%;
  margin-right: auto;
    margin-top: 60px;
}

.catalogsec_mainpage_content_list_item{
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-right: 18px;
  border: 2px solid #000000;
  border-radius: 5px;
  text-decoration: none;
}

.catalogsec_mainpage_content_list_item h3{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #000000;
  line-height: 110%;
}

.catalogsec_mainpage_content_list_item img{
  max-height: 288px;
  display: flex;
  margin: 0 auto;
}

.catalogsec_mainpage_content_list_item_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogsec_mainpage_content_list_item_title img{
  margin: 0;
}

.catalogsec_mainpage_content_list_item_title p{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  line-height: 145%;
}

.catalogsec_mainpage_content_title{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.catalogsec_mainpage_content_title p{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #000000;
  line-height: 150%;
  margin-bottom: 20px;
}

.catalogsec_mainpage_content_title a{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: #FFFFFF;
  background: #0057D9;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 381px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
}



.stepssec_mainpage{
  background: url(../img/stepssec_mainpage_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 125px;
}

.stepssec_mainpage_content{
  padding-top: 20px;
  padding-bottom: 58px;
}

.stepssec_mainpage_content{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.stepssec_mainpage_content h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #FFFFFF;
  line-height: 110%;
}

.stepssec_mainpage_content_list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
}

.stepssec_mainpage_content_list_item{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.stepssec_mainpage_content_list_item p{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
  color: #FFFFFF;
  line-height: 110%;
}

.stepssec_mainpage_content_button {
  margin-top: 60px;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 110%;
  color: #FFFFFF;
  background: #0057D9;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 215px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


.trustsec_mainpage{
  margin-top: 83px;
  margin-left: 20px;
  margin-right: 20px;
}

.trustsec_mainpage_content{
  
}

.trustsec_mainpage_content_slider_container h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #0D0D0D;
  margin-bottom: 60px;
  padding-left: 10px;
}

.trustsec_mainpage_content_slider_container{
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.trustsec_mainpage_content_slider_item{
  max-width: 387px;
  width: 100%;
  height: 387px;
  background: #F9FBFF;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
  height: 687px !important;
}

.trustsec_mainpage_content_slider_item h3{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 145%;
  color: #000000;
  margin-bottom: 17px;
}

.trustsec_mainpage_content_slider_item img{
}

.trustsec_mainpage_content_slider_item b{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 145%;
  color: #000000;
  margin-top: 7px;
  display: flex;
}

.trustsec_mainpage_content_slider_item p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
  margin-bottom: 17px;
}

.trustsec_mainpage_content_slider_buttons{
  display: flex;
  justify-content: space-between;
}

.trustsec_mainpage_content_slider_buttons_leftbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #000000;
  height: 48px;
  width: 48px;
  background: #FFFFFF;
  cursor: pointer;
  position: absolute;
  top: 54%;
  left: -68px;
}

.trustsec_mainpage_content_slider_buttons_leftbtn:active{
  transform: scale(0.95);
}

.trustsec_mainpage_content_slider_buttons_rightbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #000000;
  height: 48px;
  width: 48px;
  background: #FFFFFF;
  cursor: pointer;
  position: absolute;
  top: 54%;
  right: -56px;
}

.trustsec_mainpage_content_slider_buttons_rightbtn:active{
  transform: scale(0.95);
}




.deliverysec_mainpage{
  padding-top: 56px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 56px;
}

.deliverysec_mainpage_content{
  max-width: 1200px;
  margin: 0 auto;
}

.deliverysec_mainpage_content_header{
  display: flex;
  flex-direction: column;
}

.deliverysec_mainpage_content_header h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #000000;
}

.deliverysec_mainpage_content_header p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  line-height: 145%;
  max-width: 535px;
  margin-top: 14px;
}

.deliverysec_mainpage_content_title{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  column-gap: 59px;
}

.deliverysec_mainpage_content_title_leftpart{
  display: flex;
  flex-direction: column;
}

.deliverysec_mainpage_content_title_leftpart h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;
  line-height: 145%;
}

.deliverysec_mainpage_content_title_leftpart p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  line-height: 145%;
  margin-top: 16px;
}

.deliverysec_mainpage_content_title_rightpart{
  display: flex;
  flex-direction: column;
  max-width: 523px;
}

.deliverysec_mainpage_content_title_rightpart h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #000000;
  line-height: 145%;
}

.deliverysec_mainpage_content_title_rightpart_list{
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

.deliverysec_mainpage_content_title_rightpart_list_item{
  display: flex;
  column-gap: 22px;
  border-bottom: 1px solid #DBE3ED;
  padding-top: 11px;
  padding-bottom: 11px;
}

.deliverysec_mainpage_content_title_rightpart_list_item b{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.063rem;
  color: #0057D9;
  line-height: 145%;
  display: flex;
  width: 21px;
}

.deliverysec_mainpage_content_title_rightpart_list_item p{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #162032;
  line-height: 145%;
}

.deliverysec_mainpage_content_title_warranty{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  column-gap: 59px;
}

.deliverysec_mainpage_content_title_warranty_leftpart h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;
  line-height: 145%;
  margin-top: 12px;
}

.deliverysec_mainpage_content_title_warranty_leftpart p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
  color: #000000;
  line-height: 145%;
  margin-top: 14px;
}

.deliverysec_mainpage_content_title_warranty_rightpart_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
}

.deliverysec_mainpage_content_title_warranty_rightpart_list_item{
  display: flex;
  height: 126px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #DBE3ED;
  border-radius: 5px;
}

.deliverysec_mainpage_content_title_warranty_rightpart_list_item{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #162032;
  line-height: 145%;
}

.deliverysec_mainpage_content_title_consult{
  margin-top: 28px;
  background: #0057D9;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliverysec_mainpage_content_title_consult p{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 145%;
}

.deliverysec_mainpage_content_title_consult a{
  text-decoration: none;
  max-width: 238px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 9px;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: #FFFFFF;
  border-radius: 5px;
}

.deliverysec_mainpage_content_title_consult a > p{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #0057D9;
  line-height: 145%;
}





.aboutussec_mainpage {
  background: url(../img/aboutussec_mainpage_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 100px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.aboutussec_mainpage_content{
  padding-left: 47px;
  padding-top: 21px;
  padding-bottom: 55px;
  padding-right: 144px;
  display: flex;
  justify-content: space-between;
}

.aboutussec_mainpage_content_title{
  max-width: 629px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutussec_mainpage_content_title h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.aboutussec_mainpage_content_title_info p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.aboutussec_mainpage_content_title_info p:last-child{
  margin-bottom: 0;
}

.aboutussec_mainpage_content_title_choicelist p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  color: #FFFFFF;
  margin-top: 15px;
}

.aboutussec_mainpage_content_title_choicelist h3{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 20px;
}

.aboutussec_mainpage_content_total{
  display: flex;
  flex-direction: column;
  padding-top: 62px;
}

.aboutussec_mainpage_content_total_item{
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  padding-top: 14px;
  padding-bottom: 24px;
}

.aboutussec_mainpage_content_total_item b{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 180%;
  color: #FFFFFF;
}

.aboutussec_mainpage_content_total_item p{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 75%;
  color: #FFFFFF;
}

.aboutussec_mainpage_content_title_link{
  text-decoration: none;
  max-width: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 5px;
  background: #0057D9;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 110%;
  color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 27px;
}

.formsec_mainpage{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background: #F9FBFF;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 100px;
}

.formsec_mainpage_content{
  padding-top: 22px;
  padding-left: 66px;
  padding-right: 21px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.formsec_mainpage_content_form{
  display: flex;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
}

.formsec_mainpage_content_form h3{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 110%;
  color: #0D0D0D;
}

.formsec_mainpage_content_form p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 11px;
}

.formsec_mainpage_content_form input{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #000000;
  outline: none;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 2px solid #B6BFCC;
  background: transparent;
  padding-top: 23px;
  max-width: 466px;
  width: 100%;
}

.formsec_mainpage_content_form input:placeholder{
  color: #8F96A3;
}

.formsec_mainpage_content_form button{
   font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 145%;
  color: #FFFFFF;
  letter-spacing: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #0057D9;
  margin-top: 33px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.formsec_mainpage_content_form_policy p{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 110%;
  color: #8F96A3;
  margin-top: 14px;
  max-width: 440px;
  width: 100%;
  margin-bottom: 0;
}

.formsec_mainpage_content_form_policy a{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 110%;
  color: #8F96A3;
  text-decoration: none;
}

.formsec_mainpage_content > img:nth-child(2) {
  object-fit: cover;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  height: 100%;
}


footer{
  background: #282828;
}

.footer_content{
  padding-top: 41px;
  padding-bottom: 94px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer_content h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer_content b{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 145%;
  color: #CACACA;
  margin-top: 16px;
  margin-bottom: 4px;
  display: flex;
}

.footer_content_main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: center;
}

.footer_content_main_form_container{
  max-width: 612px;
  width: 100%;
}

.footer_content_main_form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.footer_content_main_form_item:nth-child(3){
  grid-column: 1 / -1;
}

.footer_content_main_form_item:nth-child(4){
  grid-column: 1 / -1;
}

.footer_content_main_form_item{
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.footer_content_main_form_item h4{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #CACACA;
}

.footer_content_main_form_item input{
  border: 1px solid #CACACA;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #CACACA;
  outline: none;
  background: transparent;
}

.footer_content_main_form_item textarea{
  box-sizing: border-box;
  resize: none;
  outline: none;
  background: transparent;
  border: 1px solid #CACACA;
  border-radius: 5px;
  height: 78px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 145%;
  color: #CACACA;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.footer_content_main_form button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 203px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #0057D9;
  border: 0;
  outline: none;
  cursor: pointer;
}










.footer_content_main_map{
  display: flex;
  flex-direction: column;
}

.footer_content_main_map p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 549px;
}


.mapsec_contactspage_map{
  width: 100%;
}

#map {
  width: 100%;
  height: 251px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
}

.ymaps-2-1-79-balloon__content {
  background: transparent !important;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__close-button {
  display: none !important;
}

.ymaps-2-1-79-balloon__tail::after {
  display: none !important; 
}

.ymaps-2-1-79-balloon_to_top .ymaps-2-1-79-balloon__tail {
  display: none !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}

.ymaps-2-1-79-copyright__layout {
  display: none !important;
}

.ymaps-2-1-79-inner-panes, .ymaps-2-1-79-outer-panes {
  border-radius: 11px !important;
}

.footer_content_downpart_logoandinfo{
  max-width: 280px;
}


.footer_content_downpart{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_content_downpart_logoandinfo a{
  margin-bottom: 20px;
  text-decoration: none;
  display: flex;
}

.footer_content_downpart_logoandinfo p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer_content_downpart_logoandinfo p:last-child{
  margin-bottom: 0px;
}

.footer_content_downpart_contacts_order{
  display: flex;
  flex-direction: column;
}

.footer_content_downpart_contacts_order p{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer_content_downpart_contacts_order a{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer_content_downpart_contacts_order a:last-child{
  margin-bottom: 0;
}

.footer_content_downpart_contacts_navlist{
  margin-top: 38px;
}

.footer_content_downpart_contacts_navlist ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer_content_downpart_contacts_navlist ul > li > a{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer_content_downpart_contacts_navlist ul > li > a:last-child{
  margin-bottom: 0px;
}

.footer_content_downpart_policy{
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
}

.footer_content_downpart_policy a{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 6px;
  text-decoration: none;
}

.footer_content_downpart_policy a:last-child{
  margin-bottom: 0px;
  margin-top: 78px;
}

